*{
  margin: 0;
  padding:0;
  box-sizing: border-box;

}


header{padding-left:  40%;
  border: 6.3%;
    color: rgb(86, 38, 131);
    font-size: 300%;
}



.fondo{
    color: rgb(86, 38, 131);
    font-size: 300%;
    padding-block: 10px;
   padding-left:  30%;
  border: 1.5%;
}

.menu{
 display: inline;
 margin-inline: 10px;

}

.menu__item{
  display: inline-block;
  margin: 10px;

}
.menu__item a{
  color: black;
  text-decoration: none;
}
.menu__item a:hover{
  text-decoration: underline double;
}


.logo{

    max-width: 250px ;
    max-height: 1200px;
padding-left: 55px;

}

  footer{
    padding-left: 25.5rem;

  }

  .texto{
    display: inline;
    margin: 1.5%;
    width: 164px;

  }

  p {
    padding-left: 25.5rem;
    font-size: 260%;
    font-weight: 900;
     width:80%;
    height:6%;
    border: 4.5%;
  }

.img{
  width: 200%;
  padding-left:25.5rem;
 }

 .formulario{

   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   padding-left: 20%;  font-family: 'Times New Roman', Times, serif;
   width: 100%;
   padding-right: 30%; 
   border-left:30% ;

 }
 .celdas{
  display: flex;
  justify-content: center;
  font-size: 600%;
  font-family: 'Times New Roman', Times, serif;
  flex-wrap: wrap ;
  width: 700px;
  height: 70px;
 }
 .formulario input,
 .formulario textarea,
 .formulario select {
  justify-items: center;
  align-items: center;
  width: 300px;
  height: 40px;
  font-size: 30%;
   margin-bottom: 10px;
   font-family: 'Times New Roman', Times, serif;
   border-radius: 4px;
 }
.carousel{
 display: flex;
 padding-left: 50rem;

}
.carousel-inner img {
max-height: 300px;
max-width: 500px;
 
}
.top{      display: flex; flex-wrap: wrap;
      padding: 0.5%;   }

.topb{
  display: flex;
 justify-content:center;
  flex-wrap: wrap;
  box-sizing: content-box;
  width: 13%;
  padding-left:23rem;
  font-size: 300%;
  border: 3%;
 
}
 .numero{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: content-box;
  width: 13%;
  padding-left:25.5rem;
  border: 3%;
  font-size: 500%;
 
 }
 
 .musica{
  display: grid;
  grid-template-columns: 555px ;
  grid-row: 1fr 1fr 1fr;
  padding-left: 50.5rem;  

}
.compartido1{
  padding: 2px;
}
.compartido2{
 padding: 1px;
}
.compartido3{
  padding: 2px;
}

