*{
  margin: 0;
  padding:0;
  box-sizing: border-box;

}


header{padding-left:  40%;
  border: 6.3%;
    color: rgb(86, 38, 131);
    font-size: 250%;
}



.fondo{
    color: rgb(86, 38, 131);
    font-size: 250%;
    padding-block: 10px;
    justify-content: center;
    align-items: center;
    border: 1.5%;
}

.menu{
 display: flex;
 margin-inline: 10px;
 justify-content: center;
  align-items: center;
}

.menu__item{
  display: inline-block;
  margin: 10px;

}
.menu__item a{
  color: black;
  text-decoration: none;
}
.menu__item a:hover{
  text-decoration: underline double;
}


.logo{
  display: line;
  justify-content: center;
  align-items: center;
  max-width: 100px ;
  max-height: 200px;

}

.texto{
    display: inline;
    margin: 1.5%;
    width: 164px;

  }

  p { justify-content: center;
    align-items: center;
    padding-left: 13rem;
    font-size: 220%;
    font-weight: 500;
     width:85%;
    height:6%;
    border: 4.5%;
  }

.img{display: flex;
  justify-content: center;
  align-items: center;

 }
 img{
  max-width: 100%;
    max-height: 100%;
}  
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
    width: 100%; }

 .celdas{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 600%;
  font-family: 'Times New Roman', Times, serif;
  flex-wrap: wrap ;
  width: 700px;
  height: 70px;
 }
 .formulario input,
 .formulario textarea,
 .formulario select {
  justify-items: center;
  align-items: center;
  width: 300px;
  height: 40px;
  font-size: 30%;
   margin-bottom: 10px;
   font-family: 'Times New Roman', Times, serif;
   border-radius: 4px;
 }
.carrousel{
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-inner img {
max-height: 300px;
max-width: 400px;
 
}
.column {
  float: left;
  width: 750px;
}
h3,h2{  width: 130px;
  font-size: 250%;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 60px) {

  .column {
    width: 3rem;
  }
}

 .musica{ justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 555px ;
  grid-row: 1fr 1fr 1fr;
   

}
.compartido1{
  padding: 2px;
}
.compartido2{
 padding: 1px;
}
.compartido3{
  padding: 2px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;

}