footer{
    display: flex;
    justify-content: center;
    align-items: center;
.logo{
   max-width: 150px;       
      padding: 1.5rem;
      max-height: 110px;
      }
  }
  .logo:hover{
    transition: 0.3s;
    transform: rotate(360deg);
  
  }