@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

.grid-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(3, 50px);
    gap: 10px;
   
    padding-top: 3rem;
}

.grid-item{
      
      font-size: 150%;
      font-weight: 300;
   
    h2{
      font-family: "Sora";
     
      font-size: 120%;
      padding-left: 13%;
    font-weight: 250;
    color:#4E3B78;
    }
 h3{
  font-family: "Sora";
padding-left:35%;
 font-size: 150%;
 color: #4E3B78;
 justify-content: center;
 
 }
    }
    @media screen and (max-width: 1250px) {
       
        .grid-container {
          grid-template-columns: 3fr;
          grid-template-rows: repeat(3, 100px);
          grid-template-rows:repeat(3, 100px);
           gap: 10px;
        
             }
        h2{
          font-size: 155%;
        font-weight: 500;
        }
     h3{
     font-size: 200%;
     }
      }
     