.musica{ justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 600px ;
    grid-row: 2fr;
    
    @for $i from 1 through 3 {
      
      .compartido#{$i}{
     
       padding: 1rem * $i;}
       }
}
   
     
     