.musica{ justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 570px ;
 
    

    @for $i from 1 through 3 {
      
      .compartido#{$i}{
        padding-top: 2rem * $i;
      
      }
       }
}
   
     
     