  
  .texto{
    display: inline;
    margin: 1.5%;
    width: 164px;
    p { justify-content: center;
      align-items: center;
      padding-left: 5rem;
      font-size: 220%;
      font-weight: 500;
      border: 12.5%;
    }
  }

 h2:hover {
  transform: scale(1.3);

 }
 h3:hover{
  transform: scale(1.3);
 }